@import models.User_;
@import models.Note;
@import play.mvc.Http.Request
@import helper._
@import java.util._

    @* import parameters *@
@import views.html.includes.errors.manageErrors;
@import views.html.includes.menu.accueil1;

@(user:User_)(implicit request: Request)

@layout("welcome"){

<h2 id="welcome">Welcome @user.getUserName()</h2> 

    <section id="writing">
        <table style="width:100%" class="table table-bordered" id="notes_list">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Note</th>
                    <th>Actions</th>
                </tr>
            </thead>
                @for(note <- user.getNotes) {
                    <tbody>
                        <tr>
                                <section class="writing"> 

                                    <section class="writing-date">
                                        <td data-column="Date">@note.getDate</td>
                                    </section>

                                    <section class="writing-title">
                                        <td data-column="Note name"><a class="title" href="@routes.HomeController.show(note.getNoteID)">@note.getNoteName</a></td>
                                    </section>

                                    <section class="selecteurs">
                                        <td data-column="Note action">  
                                    <!--    <a class = "add" href="@routes.HomeController.userSpace().withFragment("addnote").absoluteURL(request)"><i class="fas fa-plus"></i></a> --> 
                                            <a class = "edit" href="@routes.HomeController.edit(note.getNoteID)"><i class="far fa-edit"></i></a>
                                            <a class = "delete" href="@routes.HomeController.deleteNote(note.getNoteID)"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </section>
                                </section>
                        </tr>
                    </tbody>
                }
        </table>

    </section>

    <section class="contain_floating">
        <!-- floating button to add note-->

        <a href="@routes.HomeController.create()" class="float">
            <i class="fa fa-plus my-float"></i>
        </a>
    </section>

                    <!-- i am looking a way to include it inside a javascript file and call it -->

                    <script type="text/javascript">
                        document.getElementById("body").value = getSavedValue("body");
                        /* Here you can add more inputs to set value. if it's saved */
                
                        //Save the value function - save it to localStorage as (ID, VALUE)
                        function saveValue(e){
                            var id = e.id;  
                            var val = e.value; 
                            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
                        }
                
                        //get the saved value function - return the value of "v" from localStorage. 
                        function getSavedValue  (v){
                            if (!localStorage.getItem(v)) {
                                return "";// You can change this to your defualt value. 
                            }
                            return localStorage.getItem(v);
                        }
                    </script>
                    
    @manageErrors()
    
}{
    @accueil1()
}

