 #note {
    height: 100%;
    width: 45%;
    margin:auto;
}

.col-md-6 #note {
    margin-left: 30%;
}

.col-md-6 .text {
    margin: auto;
    padding-top: 3%;
    height: 100%;
}

#home {
    font-family: 'Gotu', Arial, Helvetica, sans-serif;
    text-align: justify;
}


nav {
    box-shadow: 5px 5px 4px gray;
    margin-bottom: 15px;
}

footer {
    background-color:#292c2f;
    color: white;
    border-top:3px solid red ;
    margin-top: 15px;
}

footer .row {
    margin: 5px;
}


#call {
    margin-left: 58px;
}

#mail {
    margin-left: 78px;
}

footer a {
    color: white;
}


#home {
    margin: 10%;
}

#logo {
    height: 80px;
}

.row {
    margin-top: 50px;
}

.text h3 {
    border-bottom: 4px solid #663399;
    width: fit-content;
    margin-bottom: 4%;
    font-weight: bold;
}

/* login part */
.loginContainer {
    color: #757575;
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
}

.centrer h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

#passwordHelpBlock {
    margin-bottom: 20px;
}

/*user home */

#welcome {
    text-align: center;
    margin: 32px;
    font-weight: bold;
}

#writing {
    margin: 50px;
}

#note_form {
    width: 60%;
    margin-left: 38px;
}

#note_form h3 {
    font-weight: bold;
    font-size:1.6em;
    text-align: center;
    margin-top: 38px;
}

.title{
    color:white;
}

.edit {
    color: blue;
}

.delete {
    color: red;
}

.empty {
    text-align: center;
}

.empty h3{
    margin-bottom: 25px;
}

#empty_image {
    width: 45%;
    height:1%;
    border: 5px inset gray;
    border-radius: 10px;
}

/* floating botton */
.float{
	position:absolute;
	width:60px;
    height:60px;
    right:70px;
    bottom: 0px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

.contain_floating {
    padding: 10px;
    position: relative;
}

/* personal informations */

#overall {
    margin: 100px;
} 

#passwordModification {
    margin: auto;
    text-align: center;
}

#my_link {
    text-transform: uppercase;
    color: darkslategrey;
    font-size: small;
}

/* note presentation */

#info_note {
    width: fit-content;
    margin: auto;
    padding: 20px;
    min-width: 70%;
} 

#noteCard {
    margin: 50px;
}

/* profile */

#note_form h5 {
    font-size: small;
    color: blue;
    text-align: center;
    margin-bottom: 10px;
}

/*about me*/

#about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.3em;
    text-align: justify;
    color: black;
    margin-top: 45px;
}

#about a {
    color:gray;
    font-style: italic;
    font-weight: bold;

}

.vol :hover {
    background-color: green;
    font-weight: bold;
    padding: 2px;
    border-radius: 1px;
}

#about h3 {
    color: orange;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about h5 {
    text-align: center;
    font-weight: normal;
    margin: 5px;
}

.italic {
    font-style: italic;
}

.aboutLeft {
    margin-left: 0px;
    margin-right: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.aboutRight {
    margin-right: 0px;
    margin-left: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*image in the about page*/
#myImg {
    width: 45%;
    height:1%;
    float: left;
    margin: 20px 25px 20px 20px;
    border: 5px inset #242582;
    border-radius: 10px;
}

/* resetting page */

#contain{
    width: 60%;
    margin: auto;
    padding: 20px;
    min-height: 300px;
    border-radius: 5px;
    color: #757575;
    background-color: aliceblue;
}

#container-box {
    margin: auto;
    padding: 20px;
}

.resetTitle {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 48px;
}

.resetTitle h1 {
    font-weight: normal;
    font-size: 1.8em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*flashing messages*/

#fail h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    color: red;
    margin: 10px;
}

#succes h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    color: green;
    margin: 10px;
}
