 #note {
    height: 100%;
    width: 45%;
    margin:auto;
}

.col-md-6 #note {
    margin-left: 30%;
}

.col-md-6 .text {
    margin: auto;
    padding-top: 3%;
    height: 100%;
}

#home {
    font-family: 'Gotu', Arial, Helvetica, sans-serif;
    text-align: justify;
}


nav {
    box-shadow: 5px 5px 4px gray;
    margin-bottom: 15px;
}

footer {
    background-color:#292c2f;
    color: white;
    border-top:3px solid red ;
    margin-top: 15px;
}

footer .row {
    margin: 5px;
}

footer a {
    color: white;
}


#home {
    margin: 10%;
}

#logo {
    height: 80px;
}

.row {
    margin-top: 50px;
}

.text h3 {
    border-bottom: 4px solid #663399;
    width: fit-content;
    margin-bottom: 4%;
    font-weight: bold;
}

/* login part */
.loginContainer {
    color: #757575;
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
}

.centrer h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

#passwordHelpBlock {
    margin-bottom: 20px;
}

/*user home */

#welcome {
    text-align: center;
    margin: 32px;
    font-weight: bold;
}

#writing {
    margin: 50px;
}

#a_masquer {
    width: 60%;
    margin-left: 38px;
    /* margin: 40px; */
    /* margin: auto; */
}

#a_masquer h3 {
    font-weight: bold;
    font-size:1.6em;
    /* margin: 20px; */
    text-align: center;
    margin-top: 38px;
}

.title{
    color: black;
}

.edit {
    color: blue;
}

.delete {
    color: red;
}

/* floating botton */
.float{
	position:absolute;
	width:60px;
    height:60px;
    right:70px;
    bottom: 0px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

.contain_floating {
    padding: 10px;
    position: relative;
}

/* personal informations */

#overall {
    margin: auto;
    padding: 20px;
}

#all {
    text-align: justify;
    margin: 20px;
}