@import play.mvc.Http.Request
@import helper._

@(resetForm : Form[Reset])(implicit request: Request) 

@layout("ResetPassword"){

    <div class="resetTitle">
        <h1>RESET PASSWORD FORM </h1>
    </div>

    <div id="container-box">
        <div id="white-box">
            <h2>Forgot Password</h2>
            <h5>Enter email to reset your password.</h5>
        

            @helper.form(action = routes.HomeController.resettingProcess()) {
                @helper.CSRF.formField

                @helper.inputText(resetForm("email"),
                '_label -> "",
                'placeholder -> "Your e-mail address",
                'id -> "resetSpace")

                <input type="submit" id="button" class="btn-primary" value="Reset">

            }

        </div>
    </div>

    @manageErrors()
}{
    @accueil()
}