@import play.mvc.Http.Request
@import helper._

@(resetForm : Form[Reset])(implicit request: Request, messages: play.i18n.Messages) 

@layout("ResetPassword"){

    <div id="contain">
        <div class="resetTitle">
            <h1>RESET PASSWORD FORM </h1>
        </div>
    
        <div id="container-box">
            <h5>Enter email to reset your password.</h5>
            
    
            @helper.form(action = routes.HomeController.resettingProcess()) {
                @helper.CSRF.formField
    
                <div class="form-group">
                    <input class="form-control" placeholder="enter your email address" name="email" id="reserSpace">
                </div>
                <input type="submit" id="button" class="btn btn-secondary" value="Reset">
    
            }
    
        </div>
    
        @includes.errors.manageErrors()
    </div>
}{
    @includes.menu.accueil()
}