@import models.PasswordModification
@import play.mvc.Http.Request
@import helper._

@(user : User_ , passForm : Form[PasswordModification])(implicit request: Request, messages: play.i18n.Messages) 


@layout("informations") {


    <div id="overall">
        <div id="all" class="card bg-light mb-3">
            <div>
                <h2 class="card-header">personal informations</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">name : @user.getUserName()</h5>
                <h3 class="card-text"> email : @user.getUserEmail()</h3>
            </div>
        </div>

        <div id="passwordModification"> 
            <a href="#" id="my_link" onclick="masquer_div('a_masquer')">Modify password ?</a>
            <div id="a_masquer">
                
                @helper.form(action = routes.HomeController.passwordModification()) {
                    @helper.CSRF.formField
    
                    <!-- @helper.inputText(passForm("currentPassword"),
                    '_label -> "current password",
                    'id -> "pass1") -->

                    <div class="form-group">
                        <label>current password</label>
                        <input type="text" name="currentPassword" id="pass1" class="form-control">
                    </div>
                    

                    <!-- @helper.inputText(passForm("password"),
                    '_label -> "new password",
                    'id -> "pass2") -->

                    <div class="form-group">
                        <label>new password</label>
                        <input type="password" name="new password" id="pass2" class="form-control">
                    </div>

                    <!-- @helper.inputText(passForm("confirmationPassword"),
                    '_label -> "confirm password",
                    'id -> "pass3") -->

                    <div class="form-group">
                        <label>confirm password</label>
                        <input type="password" name="new password" id="pass3" class="form-control">
                    </div>
    
                    <input type="submit" id="button" class="btn btn-primary" value="Reset">
    
                }

            </div>
        </div>
    </div>

    @manageErrors()

} {
    @accueil1()
}