@import models.User_
@import play.mvc.Http.Request
@import helper._

    @(registrationForm : Form[User_])(implicit request: Request, messages: play.i18n.Messages) 

    
    @layout("Form Page"){

        <div class="loginContainer">

            <div class="centrer">
                <h2>REGISTRATION PAGE</h2>
            </div>

            @helper.form(action = routes.HomeController.registration()) {
                @helper.CSRF.formField
                <div class="form-group">
                    <label for="name">Name:</label><br>
                    <input type="text" class="form-control"  id="name" name="userName"  onkeyup='saveValue(this);'><br>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label><br>
                    <input type="text" class="form-control"  id="password" name="userPassword"  onkeyup='saveValue(this);'><br>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label><br>
                    <input type="text" class="form-control" id="email" name="userEmail"  onkeyup='saveValue(this);'><br>
                </div>

                <input type="submit" class="btn btn-primary" value="send">
        
            }
        </div>



            <!-- i am looking a way to include it inside a javascript file and call it -->

            <script type="text/javascript">
                document.getElementById("name").value = getSavedValue("name");    // set the value to this input
                document.getElementById("email").value = getSavedValue("email");
                /* Here you can add more inputs to set value. if it's saved */
        
                //Save the value function - save it to localStorage as (ID, VALUE)
                function saveValue(e){
                    var id = e.id;  
                    var val = e.value; 
                    localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
                }
        
                //get the saved value function - return the value of "v" from localStorage. 
                function getSavedValue  (v){
                    if (!localStorage.getItem(v)) {
                        return "";// You can change this to your defualt value. 
                    }
                    return localStorage.getItem(v);
                }
            </script>


        
            @includes.errors.manageErrors()

    }{
        @includes.menu.accueil()
    }