@import models.User_;
@import models.Note;
@import play.mvc.Http.Request
@import helper._
@import java.util._

@(user:User_ , noteForm : Form[Note])(implicit request: Request)

@layout("welcome"){

<h2 id="welcome">Welcome @user.getUserName()</h2> 

    <section id="writing">
        @for(note <- user.getNotes) {
            <section class="writing"> 

                <section class="writing-date">
                    @note.getDate
                </section>

                <section class="writing-title">
                    @note.getNoteName
                </section>

                <section class="writing-content">
                    @note.getNoteContent
                </section>

                <section class="selecteurs">
                    <a class = "add" href="@routes.HomeController.userSpace().withFragment("addnote").absoluteURL(request)"><i class="fas fa-plus"></i></a>
                    <a class = "edit" href="@routes.HomeController.editNote(note.getNoteID).withFragment("editnote").absoluteURL(request)"><i class="far fa-edit"></i></a>
                    <a class = "delete" href="@routes.HomeController.deleteNote(note.getNoteID)"><i class="fas fa-trash"></i></a>
                </section>
            </section>
        }
    </section>

    <h3 id="addnote"> ADD a new note</h3>

    @helper.form(action = routes.HomeController.addNote() , 'id -> "blog_edit_form") {
    @helper.CSRF.formField
    @helper.inputText(noteForm("noteName"),
                                '_label -> "Titre",
                                'placeholder -> "the title of your note post",
                                'id -> "title")
    @helper.textarea(noteForm("noteContent"),
                                '_label -> "Description",
                                'rows -> 8,
                                'cols -> 75)

    <input type="submit" class="btn-primary" value="send">

    }

    @manageErrors()
    
}{
    @accueil1()
}

